$grayblack: #353535;
$graywhite: #FFFF;
$lightpurple: #6f11e2;
$gray:#7E7E7E;
$graybackround:#F6F6F6;
$boxShadow: 5px 5px 5px rgba(0, 0, 0, 0.212);
$boxShadowDarken: 5px 5px 5px rgba(0, 0, 0, 0.445);
$boxShadowLight: 7px 8px 7px rgb(223, 220, 220);
 